<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <% if Rails.env.production? && listing.image.exists? %>
          <%= link_to image_tag(listing.image.url(:medium)), listing %>
          <% elsif listing.image.present? %>
          <%= link_to image_tag(listing.image.try(:url)), listing %>
        <% end %>
        <div class="caption">
          <h3><%= listing.name.titleize %></h3>
          <p><%= listing.description %></p>
          <h4><%= number_to_currency(listing.price) %></h4>
          <p>
            <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %>
            <%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure!' }, class: 'btn btn-link' %>
          </p>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
