<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <% if listing.image.exists? %>
          <%= link_to (image_tag listing.image.url), listing %>
        <% end %>
        <div class="caption">
          <h3><%= listing.name.titleize %></h3>
          <p><%= listing.description %></p>
          <h4><%= number_to_currency(listing.price) %></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
