<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-8">
    <h2><%= @listing.name.titleize %></h2>
    <p><%= @listing.description %></p>
    <h3><%= number_to_currency(@listing.price) %></h3>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-link' %> |
<%= link_to 'Back', listings_path, class: 'btn btn-link' %>
